header {
    background-color: #27005D;
    color: #E4F1FF;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 8px;
}

.input-section {
    display: flex;
    flex-direction: column;
}

#conversion-info {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#text-equation {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 16px;
}

label {
    display: block;
    margin-bottom: 4px;
    font-weight: bold;
    font-size: 16px;
}

input  {
    padding: 10px;
    border: #27005D solid 1px;
    border-radius: 4px;
    outline: none;
}

input:focus {
    border-color: 9400FF;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    border-radius: 4px;
    background-color: #27005D;
    color: #E4F1FF;
    border: none;
    cursor: pointer;
}

#input-button {
    display: flex;
    align-self: center;
}

button:hover {
    background-color: #9400FF;
}

button:active {
    background-color: #AED2FF;
    transform: translateY(1px);
}

body {
    font-family: monospace; 
}

@media screen and (max-width: 768px) {
header {
    font-size: 20px;
}
}